.right{
    width: 50%;
}
.menu-div{
    min-height: 80vh;
    width: 50%;
}

.menu-table{
    border-collapse: collapse;
}
.not-added{
    padding: 2px;
}
.menu-table td{
    padding: 20px 40px;
}

.body{
    display: inline-flex;
    width: 100%;
}

.cart-div{
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    position: relative;
    min-height: 80vh;
}
.b1{
    border-bottom: 1px solid black;
}

.cart-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    align-content: center;
    border-top: 1px solid black;
    margin: 0;
    padding: 10px 0;
}

.addItem{
    text-align: center;
    align-content: center;

}

.cart-table{
    font-size: 15px;
    margin: auto;
    border-collapse: collapse;
}

.xindex{
    border-bottom: 1px ridge black;
}

.cart-table td{
    padding: 0 5px;
}

.total-bill{
    border-top: 1px ridge black;
}

.cost{
    text-align: right;
}


input{
    width: 50px;
}